body{
	font-family:monospace,sans-serif;
	font-size:20px;
	padding:0px;
	margin:0px;	
}
header{
	text-align:center;
	margin:5px 10px;
}
ul{
	list-style:none;
}
li{
	display:inline;
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
	color:black;
	padding:15px;
	margin:5px;
}
a:hover{
	color:white;
	background:skyblue;
}
address{
	margin-top:400px;
}
.input{
	float:right;
	margin-right:10px;
}
input{
	border-radius:3px;
	width:300px;
	height:20px;
	padding:5px;
}
button{
	padding:5px;
	border-radius:2px;
	background:skyblue;
	color:white;
	border:1px solid #ccc;
}
section div{ padding:10px; display:inline;}
