body{
	font-family:monospace,sans-serif;
	font-size:20px;
	padding:0px;
	margin:0px;	
	overflow:none;
}
header{
	text-align:center;
	margin:5px 10px;
}
ul{
	list-style:none;
}
li{
	display:inline;
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
	color:black;
	padding:15px;
	margin:5px;
}
a:hover{
	color:white;
	background:skyblue;
}
address{
	margin-top:400px;
	float:left;
}
.input{
	float:right;
	margin-right:10px;
}
input{
	border-radius:3px;
	width:300px;
	padding:5px;
}
button{
	padding:5px;
	border-radius:2px;
	background:skyblue;
	color:white;
	border:1px solid #ccc;
}
section div{  
	float:left;
	padding:5px 6px;
	width:350px;
	margin:5px;
	text-align:center;
	}
img{
	height:500px;
	width:350px;
	padding:10px;
	margin:5px;
	border-radius:5px;
	border:2px solid #ccc;
}
section .header3{
	text-align:center;
	padding-top:30px;
	margin-top:40px;
	text-decoration:underline;
}
